.service-health {
    padding: 2px 20px;
    width: 450px;
}

.service-health:hover {
    background-color: $darkerClouds;
    border: 1px solid $midnight;
    border-radius: 10px;
    margin: -1px;
}

.service-health__name {
    cursor: pointer;
    float: left;
    line-height: 35px;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 250px;
}

.service-health__host-healths {
    float: right;
    width: calc(100% - 250px);
}