.service-health {
    height: 30px;
    margin: 0 auto;
    padding: 5px 20px;
    width: 450px;
}

.service-health__name {
    float: left;
    line-height: 40px;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 250px;
}

.service-health__host-healths {
    float: right;
}