.service-controller__header {
    display: flex;
    height: 35px;
    justify-content: flex-start;
    line-height: 35px;
    padding: 5px;
}

.service-controller__body {
    height: calc(100% - 60px);
    overflow-y: auto;
    margin-top: 10px;
}

.service-controller__button {
    /* TODO: fix color */
    background-color: orange;
    border-radius: 10px;
    cursor: pointer;
    font-size: 25px;
    line-height: 20px;
    margin: 0 5px;
    padding: 5px 15px;
    text-align: center;
}

.service-controller__button--confirmation {
    width: 100px;
}

.service-controller__button span {
    font-size: 16px;
}

.service-controller__button--disabled {
    background-color: $disabled;
    cursor: default;
}

.service-controller__service-name {
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px 0;
}

.service-controller__delay {
    display: inline-block;
    padding-left: 10px;
    width: 45%;
}

.service-controller__delay-input {
    display: inline-block;
    margin-left: auto;
}

.service-controller__delay-input span {
    padding: 0 15px;
}

.service-controller__delay-input input {
    font-size: 18px;
    padding: 5px;
    width: 50px;
}

.service-controller__show-load-save {
    background-color: $darkerClouds;
    border-radius: 5px;
    color: $midnight;
    cursor: pointer;
    font-size: 25px;
    line-height: 25px;
    margin-left: 10px;
    padding-top: 5px;
    text-align: center;
    width: 25px;
}

.service-controller__show-load-save--active,
.service-controller__show-load-save:hover {
    background-color: $midnight;
    color: $clouds;
}

.service-controller__load-save-actions {
    display: flex;
    font-size: 25px;
    height: 35px;
    padding: 0 10px;
}

.service-controller__load-save-actions .fa {
    cursor: pointer;
    font-size: 30px;
    padding: 0 8px;
}

.service-controller__load-save-actions input {
    font-size: 18px;
    padding: 2px 5px;
}

.service-controller__saved-config {
    margin-top: 10px;
    padding: 10px;
}

.service-controller__saved-config-name {
    border-radius: 10px;
    cursor: pointer;
    overflow-x: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 250px;
}

.service-controller__saved-config-name:hover {
    background-color: $midnight;
    color: $clouds;
}

.service-controller__action-list-group-name {
    font-size: 22px;
    padding: 10px;
}

.service-controller__service-instances-per-host {
    padding: 0 10px;
}

.service-controller__action-list {
    position: relative;
}

.service-controller__action-list .fa-trash {
    color: $midnight;
    cursor: pointer;
    font-size: 22px;
    opacity: .5;
    position: absolute;
    right: 0;
    top: 0;
}

.service-controller__action-list .fa-trash:hover {
    opacity: 1;
}
