.data-row {
    font-size: 18px;
    line-height: 25px;
    min-width: 350px;
    padding: 5px 0;
    text-align: left;
}

.data-row--invalid {
    background-color: rgba(150, 0, 0, .2);
}

.data-row__data {
    
}

.data-row__name {
    display: flex;
    justify-content: flex-start;
}

.data-row__name.data-row__name--editing{
    justify-content: space-between;
}

.data-row__name.data-row__name--new-data{
    padding-left: 25px;
}

.data-row__name.data-row__name--not-editing {
    cursor: pointer;
    text-align: left;
}

.data-row__name input {
    font-size: 18px;
    padding-left: 5px;
}

.data-row__braces {
    
}

.data-row__actions {
    margin-left: auto;
    padding-left: 20px;
}

.data-row__action {
    cursor: pointer;
    font-size: 25px;
    margin: 0 10px;
}

/* TODO: rename? */
.data-block {
    text-align: left;
    padding-left: 30px;
}