<div class="service-controller__load-save-actions">
    <input data-bind="textInput: activeActionListGroup().name, valueUpdate: \'afterkeydown\', enterkey: save">
    <i data-bind="click: save" class="fa fa-save" aria-hidden="true"></i>
    <i data-bind="click: downloadAllServiceConfig" class="fa fa-download" aria-hidden="true"></i>
    <i data-bind="click: uploadConfig" class="fa fa-upload" aria-hidden="true"></i>
</div>
<div class="service-controller__saved-config-container">
    <!-- ko foreach: savedConfigurations -->
    <div class="service-controller__saved-config service-controller__hover-icon-container">
        <div data-bind="click: $parent.load.bind($parent)" class="service-controller__saved-config-name" title="Activate configuration">
            <span data-bind="text: name"></span>
        </div>
        <div class="service-controller__saved-config-actions">
            <i data-bind="click: $parent.downloadSingleConfig.bind($parent)" class="fa fa-download" aria-hidden="true" title="Download configuration"></i>
            <i data-bind="click: $parent.removeConfiguration.bind($parent)" class="fa fa-trash" aria-hidden="true" title="Delete configuration"></i>
        </div>
    </div>
    <!-- /ko -->
</div>