<!-- ko with: activeActionListGroup -->
<!-- ko foreach: actionLists -->
    <div class="service-controller__action-list service-controller__hover-icon-container">
        <!-- ko ifnot: isComplete -->
        <div class="service-controller__actions">
            <!-- ko with: remainingDelay -->
                <!-- ko if: $data > 0 -->
                ${src/service-controller/components/service-controller-delay.html}
                <!-- /ko -->
            <!-- /ko -->
            <!-- ko foreach: actions -->
            <div class="service-controller__service-instances-per-host">
                <span data-bind="text: serviceName" class="service-controller__service-name"></span>
                <div class="service-controller__service-instance">
                    <span data-bind="text: hostNameString"></span>
                </div>
            </div>
            <!-- /ko -->
        </div>
        <!-- /ko -->
        <i data-bind="click: $parent.removeActionList.bind($parent)" class="fa fa-trash" aria-hidden="true"></i>
    </div>
<!-- /ko -->
<!-- /ko -->
<!-- ko with: delayForNext -->
<div class="service-controller__actions">
    <!-- ko if: $data > 0 -->
    ${src/service-controller/components/service-controller-delay.html}
    <!-- /ko -->
</div>
<!-- /ko -->