.service-page {
    background-color: $clouds;
    height: 100%;
    min-height: 100%;
}

.service-page__header {
    background-color: $midnight;
    color: $clouds;
    height: $pageHeaderHeight;
    width: 100%;
}

.service-page__header-icon {
    background-color: #152739;
    float: left;
    height: 100%;
    padding: 0 10px;
}

.service-page__header-icon .fa {
    cursor: pointer;
    font-size: 40px;
    padding: 5px;
}

.service-page__body {
    display: flex;
    font-size: 18px;
    height: calc(100% - 70px);
    min-height: calc(100% - 70px);
    overflow-y: auto;
    padding: 10px;
}

.service-page__data-rows {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 30px;
}

.service-page__edit-toggle {
    color: $clouds;
    cursor: pointer;
    float: right;
    font-size: 30px;
    margin: 10px 20px 0 0;
}

.service-page__edit-toggle label {
    cursor: pointer;
    padding-right: 10px;
}

.service-page a:visited {
    color: $lightBlue;
}

.service-page__refresh {
    float: right;
    font-size: 35px;
    padding: 5px;
    width: 45px;
}

.service-page__active-items {
    float: left;
    font-size: 25px;
    height: 100%;
    line-height: 50px;
}

.service-page__active-item {
    background: #152739;
    cursor: pointer;
    float: left;
    padding: 0 30px;
    width: 150px;
}

.service-page__active-item--application {
    background: linear-gradient(to left, #152739, #1D2F41);
}

.service-page__active-item--environment {
    background: linear-gradient(to left, #1D2F41, #243648);
}

.service-page__active-item--host-group {
    background: linear-gradient(to left, #243648, $midnight);
}

.service-page__active-item-divider {
    float: left;
}

.service-page__host-group-health {
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    padding: 20px 50px;
    width: 100%;
}
