.service-page {
    background-color: $clouds;
    height: 100%;
    min-height: 100%;
}

.service-page__header {
    background-color: $midnight;
    height: $pageHeaderHeight;
    width: 100%;
}

.service-page__header-icon {
    float: left;
    height: 100%;
}

.service-page__header-icon .fa {
    color: $clouds;
    cursor: pointer;
    font-size: 40px;
    padding: 5px;
}

.service-page__body {
    display: flex;
    font-size: 18px;
    height: calc(100% - 70px);
    min-height: calc(100% - 70px);
    padding: 10px;
}

.service-page__data-rows {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 30px;
}
