.service-page {
    background-color: $clouds;
    height: 100%;
    min-height: 100%;
}

.service-page__header {
    background-color: $midnight;
    color: $clouds;
    height: $pageHeaderHeight;
    width: 100%;
}

.service-page__header-icon {
    float: left;
    height: 100%;
}

.service-page__header-icon .fa {
    cursor: pointer;
    font-size: 40px;
    padding: 5px;
}

.service-page__body {
    display: flex;
    font-size: 18px;
    height: calc(100% - 70px);
    min-height: calc(100% - 70px);
    padding: 10px;
}

.service-page__data-rows {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 30px;
}

.service-page__edit-toggle {
    color: $clouds;
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    right: 20px;
    top: 10px;
}

.service-page__edit-toggle label {
    cursor: pointer;
    padding-right: 10px;
}

.service-page a:visited {
    color: $lightBlue;
}

.service-page__active-items {
    float: left;
    font-size: 25px;
    height: 100%;
    line-height: 50px;
    margin-left: 50px;
}

.service-page__active-item {
    padding-right: 30px;
}